#gameboard {
    width: 320px;
    height: 320px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
}

.square {
    height: 40px;
    width: 40px;
    position : relative;
}


.square svg {
    height: 30px;
    width: 30px;
    margin: 5px;
    position: relative;
    z-index: -9;
}

path {
    position: relative;
    z-index: -10;
}

.piece {
    position: relative;
    z-index: 9;
}

.beige {
    background-color: rgb(94, 126, 139);
}

.brown {
    background-color: rgb(103, 103, 103);
}


.black {
    fill: rgb(27, 43, 46)
}

.white {
    fill: rgb(232, 232, 232)
}